<div
	class="banner_bg_main">
	<!-- header top section start -->
	<div class="navbar fixed-top pt-0 container">
		<div class="header_section_top">
			<div class="row">
				<div class="col-12">
					<div class="custom_menu">
						<ul>
							<li><a href="{{path('app_shop')}}">Boutique</a></li>
							<li><a href="{{path('app_page')}}">Service</a></li>
							<li><a href="{{path('app_register')}}">Inscription</a></li>
							
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- header top section start -->
	<!-- logo section start -->
	<div class="logo_section">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="logo mt-4">
						<a href="{{path('app_shop')}}"><img src="{{asset('images/logo.png')}}"></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- logo section end -->
	
